<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
<div>
    <div>
        <p>{{.Meal}}</p> 
        <ul>
        {{range .Dishes}}
            <li>
                <p>{{.Name}} - {{.Price}}$</p>
            </li>
        {{end}}
        </ul>
    </div>
</div>
{{end}}
</body>
</html>