<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<ul>
{{range .}}
    <li>
        <p>Academic Year: {{.AcaYear}}</p>
        <div>
            <p>{{.Fall.Term}}</p>
            <ul>
                {{range .Fall.Courses}}
                <li>{{.Number}} {{.Name}}, {{.Units}}</li>
                {{end}}
            </ul>
        </div>
        <div>
            <p>{{.Spring.Term}}</p>
            <ul>
                {{range .Spring.Courses}}
                <li>{{.Number}} {{.Name}}, {{.Units}}</li>
                {{end}}
            </ul>
        </div>
    </li>
{{end}}
</ul>

</body>
</html>